/* CSS for the body of the website with an rgba background,
no margin, color selection, and font family */
body {
  background: #f4f4f4;
  margin: 0;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Add a black background color to the top navigation */
.navbar {
  background-color: #333;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f4f4f4;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #333;
  columns: #f4f4f4;
  text-decoration: underline;
}

/* Add an active class to highlight the current page */
.active {
  background-color: darkgrey;
}

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
  display: none;
}

.w3-panel {
  padding: 50px 16px;
}

.w3-main {
  max-width: 1200px;
  margin-top: 50px;
}

img {
  width: 100%;
}

/* Styling for buttons on ShoP page */
.btn {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  border: solid #333 1px;
  border-radius: 3px;
}

/* Styling for buttons when mouse is hovering them */
.btn:hover {
  background-color: darkgray;
  color: #f4f4f4;
  text-decoration: none;
}

/* Mid page divider*/
.divider {
  border-top: 2px solid darkgray;
}

/* Utility class to change backround colour and text colour */
.bg-light {
  background: #f4f4f4;
  color: #333;
}

/* Utility class to change backround colour and text colour */
.bg-dark {
  background: #333;
  color: #f4f4f4;
}

/* Text alignment for footer*/
.center {
  text-align: center;
  margin: auto;
}

/* Footer padding */
footer {
  padding: 2.2rem;
}

/* Removing default paragraph margin */
.footer p {
  margin: 0;
}

/* Margin to separate buttons and images */
@media screen and (max-width: 560px) {
  .w3-quarter {
    margin-top: 20px;
  }
}
/* When the screen is less than 560 pixels wide, hide all links. Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 560px) {
  .navbar a {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 560px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Landscape CSS*/
@media (max-height: 500px) {
  .content .title,
  .content .text {
    display: none;
  }

  .content {
    top: 0;
  }
}
