/* CSS for the body of the website with an rgba background,
no margin, color selection, and font family */
body {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Add a black background color to the top navigation */
.navbar {
  background-color: #333;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f4f4f4;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #333;
  columns: #f4f4f4;
  text-decoration: underline;
}

/* Add an active class to highlight the current page */
.active {
  background-color: darkgrey;
}

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
  display: none;
}

/* CSS for background image and blur effect using a CSS psuedo element called after to insert into 
the CSS without the element being in the DOM but allows it to be styled as if it were
content left blank, height will take up the entire screen based on the browser using viewport height (vh)
width set to 100%, background image linked, background size set to cover(The background-size property specifies the size of the background images.
Cover will resize the background image to cover the entire container, even if it has to stretch the image or cut a 
little bit off one of the edges), background repeat set to no repeat(The background-repeat property sets 
if/how a background image will be repeated.By default, a background-image is repeated both vertically and horizontally),
position center. The display property specifies the display behavior (the type of rendering box) of an element(Block 
Displays an element as a block element (like <p>). It starts on a new line, and takes up the whole width).
The filter property defines visual effects (like blur and saturation) to an element (often <img>)(Applies a blur effect to the image.
A larger value will create more blur). WebKit is a layout engine designed to allow web browsers to render web pages(used
here to ensure blur on all browsers). Transition for blur filter in 1 second. */
.showcase::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url(../img/showcase.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

/* Adding hover effect so when your pointer is on the item the blur will sharpen */
.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

/* This will blur the content when the image is sharpened */
.showcase:hover .content {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

/* CSS for the content The position property specifies the type of positioning 
method used for an element (static, relative, absolute, fixed, or sticky).
For absolute The element is positioned relative to its first positioned (not static) ancestor element
Z-index bring the content to the forefront ahead of the showcase. */
.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 75px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}

/* Logo position and size */
.content .logo {
  height: 180px;
  width: 180px;
}

/* Content title size using rem units, rem units are measrued based on the pixel size of the
html element which by default is 16px so below is 2.5 x 16 */
.content .title {
  font-family: "Great Vibes", Helvetica, sans-serif;
  font-size: 3.5rem;
  margin-top: 2px;
}

/* Styling of the content text */
.content .text {
  line-height: 1.7;
  margin-top: 1rem;
}

/* The max-width property defines the maximum width of an element. 
Margin auto to push the container to the middle. The overflow property specifies what 
should happen if content overflows an element's box(Hidden means the overflow is clipped, 
and the rest of the content will be invisible).4rem padding on top and bottom, 1rem left and right.*/
.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

/* Display as a grid with a repeat of 4 even fractionals or horizontal columns, with a gap of 20px between columns */
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 22.5px;
}

/* Display as a grid with a repeat of 2 even fractionals or horizontal columns, with a gap of 20px between columns */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

/* Styling for buttons on homepage */
.btn {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  background-color: #333333;
  color: #fff;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  border: solid #f4f4f4 1px;
  border-radius: 3px;
}

.btn:hover {
  background-color: darkgray;
  color: #f4f4f4;
  text-decoration: none;
}

/* Text alignment for footer */
.center {
  text-align: center;
  margin: auto;
}

/* Utility class to change backround colour and text colour */
.bg-light {
  background: #f4f4f4;
  color: #333;
}

/* Utility class to change backround colour and text colour */
.bg-dark {
  background: #333;
  color: #f4f4f4;
}

/* Footer */
footer {
  padding: 2.2rem 0;
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Removing default paragraph margin */
.footer p {
  margin: 0;
}

/* Small Screens */
/* Changing to take up half of what was taken up on a full screen */
@media (max-width: 560px) {
  .showcase::after {
    height: 50vh;
  }

  /* Adjusting content for smaller screen */
  .content {
    top: 5%;
    margin-top: 5px;
  }

  /* Removing content logo for smaller screen */
  .content .logo {
    visibility: hidden;
  }

  /* Adjusting content title for smaller screen */
  .content .title {
    font-size: 1.75rem;
    margin-top: 100px;
  }

  /* Adjusting content text for smaller screen */
  .content .text {
    display: none;
  }

  /* Rearranging grids for smaller screen by dropping down to single grids stacked on top of eachother */
  .grid-4,
  .grid-2 {
    grid-template-columns: 1fr;
  }

  /* Border to separate grids on smaller screens */
  .services div {
    border-bottom: #333 solid 2px;
    padding: 1rem 2rem;
    margin-top: 5px;
  }
}

/* When the screen is less than 560 pixels wide, hide all links. Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 560px) {
  .navbar a {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 560px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
